.painel {

    display: flex;
    text-align: center;
}

.cartao {
    width: 10rem;
    height: 16rem;
    padding: 1rem;
    margin: 10rem auto;
    border-radius: 3rem;
    border: 6px #9b8989 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    

    
}

h1 {
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.cartao2 {
    background-color: #ddd3d3;
    width: 12rem;
    height: 16rem;
    padding: 1rem;
    margin: 10rem auto;
    border-radius: 3rem;
    border: 6px #9b8989 solid;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}