.painel {
    display: flex;
}

.cartao {
    width: 60rem;
    height: 200rem;
    padding: 1rem;
    margin: 2rem auto;

}

.cartao2 {
    


    text-align: center;
    width: 235px;
    height: auto;
 




}

.navbar {

    background-color: rgb(59, 52, 52);


   


}
.imagem-link {
    width: 150px;
    /* Largura máxima da imagem */
    max-height: 800px;

    /* Mantém a proporção de altura automática */
    object-fit: cover;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: transform 0.3s ease-in-out;
}
.pop-image {
    width: 235px;
    /* Largura máxima da imagem */
    max-height: 800px;
        /* Mantém a proporção de altura automática */
        object-fit: cover;
        padding-right: 2px;
        padding-left: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
    transition: transform 0.3s ease-in-out;
}

/* Estilo da imagem quando o cursor passa por cima */
.pop-image:hover {
    transform: scale(1.2);
}