html,body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffbbdd;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #ffbbdd;
    text-decoration: none;

}

ul li a {
    color: #ffffff;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.logoImg {

    height: 100px;

    margin-left: 30px;
    background-color: #ffbbdd;

}

.titulo {

    font-family: 'Times New Roman', Times, serif;

    margin-left: 400px;
    margin-top: -100px;

    background-color: #ffbbdd;
}

h1 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif
}

header {
    background-color: #ffbbdd;
    color: white;
    padding: 20px;
}

.produto {

    margin-left: 50px;
    text-align: center;
    height: auto;
    display: center;
    width: 200px;
    margin-top: 50px;
    border: 2px solid  #e5e5e5;
    background-color: #f0f0f0; 
    padding-top: 20px;
}
.produtoimagem {

    border: white;

    background-color: white;
    margin-top: 40px;
    height: 100px;
    
    width: 200px;
    text-align: center;
    border: 2px;
}
.painel {

    display: flex;
    text-align: center;
}
.cartao {
    .painel {
        display: flex;
        text-align: center;
        margin-left: 200px;
        border: 2px solid  #e5e5e5;
        background-color: #ffbbdd;
        height: 200px;
        width: 200px;
    
    }
.cartao2 {
    margin: 200px;
    margin-top: 50px;
    text-align: left;
    border: 2px solid  #e5e5e5;
    background-color: #ffbbdd;
    height: 200px;
    width: 200px;

}
    
}
section {

    display: flex;
    justify-content: flex-start;
}
.detalhes {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;


}

.preco {
    font-weight: bold;
}

footer {
    background-color: #ffbbdd;
    margin: 0px;
    margin-top: 10px;
    padding: 5px;
}
#message {
    width: 213px; /* Define a largura da caixa de texto em pixels */
    height: 100px;
    margin-top: 10px;}

#tipoComentario {

  width: 212px; height: 25px;
  margin-top: 10px;
}

#email {
    size="25px"
    margin-top: 10px;

}

button {
    background-color: #f858a8; /* Define a cor de fundo como rosa */
    color: rgb(255, 255, 255); /* Define a cor do texto como branca para contrastar */
    padding: 10px 20px; /* Adiciona algum preenchimento ao botão para melhor aparência */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 5px; /* Adiciona bordas arredondadas para um visual mais suave */
    cursor: pointer; /* Adiciona um cursor de ponteiro ao passar o mouse sobre o botão */
    width: 212px;
    height: 50px;
    box-shadow: 2px 2px 5px rgba(32, 14, 14, 0.3);
}